#error {
	color:red;
}

html {
  height: 100%;
}

.difficulty{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./IMG/cuteArt.jpg");
    height: 100%; 
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.login-body {
  background-image: url("./IMG/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
}

#main-holder {
  width: 50%;
  height: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  color:red;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

div .gamebox {
    width: 1000px;
    height: 800px;
    background-color: #303468;
    
}

.gameplay{
  background-color: #303468;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
}

table .leaderboard {
  width: 50%;
  height: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}


.index{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./IMG/indexbackground.jpg");
  height: 100%; 
  color: white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.front_options{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width:50%;
  border:solid gray 0.5em;
  background-color: lightgray;
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 12px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  
  
}

a:hover {
  background-color: #FFA;
}

.guessbox{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 1000px;
  border:solid gray 0.5em;
  background-color: lightgray;
  color:black;
  font-size:24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 24px;
  text-align: center;
}

table #letter-display{
  display: inline-table;
  margin: auto;
  font-size:24px;
}

.guess-and-hint{
  padding: 7px;
  font-size:24px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}