p,h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:goldenrod;
    background-color:black;
    width: 30%;
}
body{
    background-image: url("./IMG/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.front_options{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width:50%;
    border:solid gray 0.5em;
    background-color: lightgray;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 12px;
    text-align: center;
}
a {
	color: black;
    text-decoration: none;
    
}

a:hover {
	background-color: #FFA;
}