
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../IMG/indexbackground.jpg");
    height: 100%; 
    color: white;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.front_options{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width:50%;
    border:solid gray 0.5em;
    background-color: lightgray;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 12px;
    text-align: center;
}

a {
	color: black;
    text-decoration: none;
    
}

a:hover {
	background-color: #FFA;
}

.guessbox{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width:70%;
    border:solid gray 0.5em;
    background-color: lightgray;
    color:yellowgreen;
    font-size:48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 24px;
    text-align: center;
}